/*zeroing style */
html {
    font-size: 15px;
 }
 
 body {
     margin: 0;
     font-family: 'Rubik', sans-serif;
     max-width: 1440px;
     margin: 0 auto;
     
 }
 
 h1, h2, h3, h4, h5, h6, span, a, p, li,ul {
     margin: 0;
     padding: 0;
 }
 
 
 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }

 /* helpers classes // Header
 ===============================================*/
 .nav__list .important {
    color: #F43939;
 }
 .nav__list .button-link {
     width: 132px;
     padding-left: 25px;
     padding-right: 27px;
     padding-top: 11px;
     padding-bottom: 11px;

     border: 1px solid #F43939;
     border-radius: 10px;
     text-align: center;
     
     font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F43939;

    transition: background-color .2s linear, color .2s linear;
 }
 .nav__list .button-link:hover {
     background-color: #F43939;
     color: rgb(255, 255, 255);
 }
 /* Main */
 .block {
     display: block;
 }





 /* Header
  ===================================================*/
 .header {
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(177, 166, 166, 0.1);
}
.header__inner {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    
}
.nav__list {
    margin-right: 37px;

    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav__list:nth-child(8) {
    margin-right: 27px;
}

.nav__logo {
    margin-right: 5px;
    margin-top: -5px;
}

.nav__link {
    text-decoration: none;

    font-size: 14px;
    line-height: 17px;
    color: #4F5665;

    transition: color .2s linear;
}
.nav__link:hover {
    color: #F43939;
}

.red-bold {
    color:#F43939;
    font-weight: 700;
}

/* Section main 
==========================================*/

.main {
    padding-bottom: 100px;
    padding-top: 128px;
    max-width: 1240px;
    margin: 0 auto;
}

.main__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 1.55em;
    color: #0B132A;
}
.main__text {
    width: 555px;
    margin-top: 20px;

    font-size: 16px;
    line-height: 1.7em;
    color: #4F5665;
    
}

.btn {
    padding: 17px 70px;

    background: #F43939;
    border-radius: 10px;
    border: 1px solid #F43939;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.5em;
    color: #FFFFFF;

    cursor: pointer;

    transition: color .2s linear, background-color .2s linear, border .2s linear;
}
.btn:hover {
    color:#F43939;
    background-color: #fff;
    border: 1px solid #F43939;
}
.main__btn {
    position: relative;
    margin-top: 50px;
    box-shadow: 0px 10px 15px rgba(245, 56, 56, 0.35);
}
.main__content {
    position: relative;
}
.main__content::after {
    content: url("/img/main/heart.png");
    position: absolute;
    display: block;
    left: 41%;
    bottom: -15%;
}

.main__statistics {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 60px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    box-shadow:2px 30px  30px  rgba(13, 16, 37, .1);
}

.main__item {
    display: flex;
    align-items: center;
    position: relative;
}
.main__item::after {
    content:'';
    display: block;
    position: absolute;
    right: -38%;

    width: 2px;
    height: 125px;
    background-color: #EEEFF2;
}
.main__item:last-child::after{
    display: none;
}
.main__item-logo {
    margin-right: 36px;
}
.main__item-title {
    font-weight: bold;
font-size: 25px;
line-height: 1.3em;
color: #0B132A;

}
.main__item-text {
    font-size: 20px;
line-height: 1.2em;
color: #4F5665;
} 


/* Section process 
====================================*/

.process {
    padding-top: 70px;
    padding-bottom: 119px;

    max-width: 1440px;
    margin: auto;
}

.process__title {
    font-weight: 500;
font-size: 35px;
line-height: 1.5em;
color: #0B132A;

text-align: center;

}
.process__text {
    padding-top: 50px;
    width: 727px;
    margin: auto;

    font-size: 16px;
    line-height: 1.7em;
    text-align: center;
    color: #4F5665;

}
.process__content {
    width: 1340px;
    margin: 0 auto;
    
    padding-top: 110px;
    
    
}

.process__inner {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 position: relative;

}
.process__photo {
   
    border-radius: 12px;
    
}
.process__inner-top::after {
    content:'';
    position: absolute;
    left: 35%;
    bottom: 41%;
    display: block;
    width: 194px;
    height: 4px;
    background: rgba(244, 57, 57, 0.4);
    z-index: -1;
}

.process__col-first::after {
    content: url("/img/process/Right_col.png");
    position: absolute;
    right: 4%;
    top: 56%;
    z-index: -1;
}
.process__col-header {
    display:flex;
    align-items: center;
}
.process__col-logo {
    margin-right: 14px;
}
.process__col-title {
    font-size: 25px;
    line-height: 1.4em;
    font-weight: 400;
    color: #000000;

    text-align: center;

}
.process__col-text {
    margin-top: 20px;
    width: 490px;

    font-weight: normal;
    font-size: 16px;
    line-height: 1.7em;
    color: #000000;
}
.process__col-middle {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}
.process__col-middle::before {
    content: url("/img/process/Left-col.png");
    position: absolute;
    left: 16%;
    top: 79%;
    z-index: -1;
}
.process__col-header-middle {
    padding-top: 84px;
}
.process__col-text-middle {

    line-height: 2em;

}
.process__flex-middle {
    display: flex;
    align-items: center;
    position: relative;
}
.process__flex-middle::after {
    content:'';
    position: absolute;
    left: 57%;
    bottom: 40%;
    display: block;
    width: 114px;
    height: 4px;
    background: rgba(244, 57, 57, 0.4);
    z-index: -1;

}
.process__photo-middle {
   margin-top: -50px;
    margin-left: 137px;
    border-radius: 12px;
   
}
.process__inner-bottom {
    padding-top: 110px;
}
.process__col-text-bottom {
    line-height: 2.2em;
    width: 526px;
}

.process__col-bottom::before {
    content:'';
    position: absolute;
    left: 36%;
    bottom: 28%;
    display: block;
    width: 140px;
    height: 4px;
    background: rgba(244, 57, 57, 0.4);
    z-index: -1;
}
.process__photo-bottom {
    background: #FBFCFE;
    width: 329px;
    height: 227px;
    border-radius: 12px;

    box-shadow: 1px 6px 15px rgba(177, 166, 166, 0.3);
}

/* Section provide */

.provide {
    width: 1300px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 100px;
}

.provide__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.provide__photo {
    flex-basis: 508px;
}
.provide__col {
    flex-basis: 400px;
}
.provide__col-title {
    font-weight: 500;
font-size: 35px;
line-height: 1.4em;
color: #0B132A;
}
.provide__col-text {
    margin-top: 20px;

    font-size: 16px;
    line-height: 1.8em;
    color: #4F5665;

    
}

.provide__col-list {
    margin-left: 40px;
    padding-top: 14px;
    position: relative;
    font-size: 14px;
    line-height:2.1em;
    color: #4F5665;

    list-style-type: none;

     ;
}
.provide__col-list::before {
    content: url('/img/provide/marker.svg');
    display: block;
    position: absolute;
    margin-left: -35px;
}

/* section trusted */

.trusted {
    position: relative;
    width: 1400px;
    margin: auto;
    padding-top: 70px;
}
.trusted__header {
 text-align: right;
}
.trusted__title {
    width: 447px;
    margin: auto;

    font-weight: 500;
    font-size: 35px;
    line-height: 1.4em;
    text-align: center;
    color: #0B132A;
}
.trusted__text {
    width: 555px;
    margin: auto;

    font-size: 16px;
    line-height: 1.6em; 
    color: #4F5665;
    text-align: center;

    margin-top: 20px;
}
.trusted__link {
    padding-top: 23px;
    padding-bottom: 27px;


    font-weight: 500;
    font-size: 17px;
    text-decoration-line: underline;
    color: #F53855;

}






/*sign_up */

.sign_up {
    position: relative;
    padding-top: 75px;
    width: 1140px;
    margin: auto;
    z-index: 1;
}
.sign_up__content {
    padding: 70px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    border-radius: 10px;
    background-color: #fff;
    box-shadow:0px 20px 20px rgba(177, 166, 166, 0.5);
}
.sign_up__text {
    width: 371px;
}
.sign_up__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.2em;
    color: #0B132A;
}
.sign_up__subtitle {
    padding-top: 20px;

    font-size: 16px;
    color: #4F5665;
}
.btn__sign_in {
    padding: 18px 95px ;
}

/* Footer */

.footer {
    max-width: 1440px;
    margin: auto;
    margin-top: -100px;
    padding-top: 150px;
    background: #F8F8F8;
}

.footer__content {
    padding-top: 50px;
}
.footer__logo {
    position: relative;
    top: -70px;
    padding: 45px 0;
}
.footer__inner {
    display: flex;
    
}
.footer__item-call {
    display: flex;
    align-items: center;

    padding-bottom: 15px;
    margin-right: 30px;
}
.footer__title {
    
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4F5665;

    text-decoration: none;

    cursor: pointer;
}
.footer__title:hover {
    color: #F43939;
}
.footer__item-logo {
    margin-right: 6px;
}
.footer__list {
    list-style-type: none;
    line-height: 1.8em;
    margin-right: 30px;
}
.footer__list:nth-child(8) {
    line-height: 1em;
}

.footer__link {
    font-size: 12px;
    color: rgba(79, 86, 101, 0.7);
    text-decoration: none;

  transition: font-weight .1s linear, color .1s linear;

}
.footer__link:hover {
    color: #F43939;
    font-weight: 700;
}
.footer__lists {
    list-style-type: none;
    margin-right: 20px;
}
.footer__lists:last-child {
    margin: 0;
}
.important {
    color: #F43939;
}
.button-link {
    width: 132px;
     padding-left: 25px;
     padding-right: 27px;
     padding-top: 11px;
     padding-bottom: 11px;

     border: 1px solid #F43939;
     border-radius: 10px;
     text-align: center;
     
     font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F43939;

    transition: background-color .2s linear, color .2s linear;
 }
.button-link:hover {
     background-color: #F43939;
     color: rgb(255, 255, 255);
 }
 .language {
     margin-top: 80px;
     display: flex;
     align-items: center;
     padding-left: 20px;
 }
 .lang {
     color:#4F5665;
     margin-left: 5px;
     margin-right: 10px;
     cursor: pointer;
 }
 .flag {
     cursor: pointer;
 }
  .lang:last-child  {
    margin-right: 0;
 }
.footer__deep {
    margin-top: 50px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;

    background: #F4F3F3;
}
.footer__copyright {
    font-size: 14px;
    line-height: 30px;

    text-decoration: none;
    color: #4F5665;
}
.FAQ {
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(79, 86, 101, 0.7);
}
.service {
    text-decoration: none;
    font-size: 14px;

    color: #4F5665;
}

/* Nav Menu
============================== */

.menu__block {
    position: relative;
    
    
}
.menu__block-list-instagram {
    opacity: 0;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 20px 20px rgba(177, 166, 166, 0.1);
    position: absolute;
    top: 130%;
    padding: 5px;
    transition: .3s opacity;
}
.menu__block-list-facebook {
    opacity: 0;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 20px 20px rgba(177, 166, 166, 0.1);
    position: absolute;
    top: 140%;
    padding: 5px ;
    transition: .3s opacity;
}
.menu__block-list-tiktok {
    opacity: 0;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 20px 20px rgba(177, 166, 166, 0.1);
    position: absolute;
    left: -20px;
    top: 150%;
    padding: 5px ;
    transition: .3s opacity;
}
.menu__block-list-twitter {
    opacity: 0;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 20px 20px rgba(177, 166, 166, 0.1);
    position: absolute;
    top: 150%;
    padding: 5px;
    transition: .3s opacity;
}
.menu__block-list-youtube {
    opacity: 0;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 20px 20px rgba(177, 166, 166, 0.1);
    position: absolute;
    top: 150%;
    padding: 5px;
    transition: .3s opacity;
}
.menu__block-list-SoundCloud {
    opacity: 0;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 20px 20px rgba(177, 166, 166, 0.1);
    position: absolute;
    top: 150%;
    padding: 5px;
    transition: .3s opacity ;
}
.menu__block-list-linkedlin {
    opacity: 0;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 20px 20px rgba(177, 166, 166, 0.1);
    position: absolute;
    top: 150%;
    padding: 5px;
    transition: .3s opacity;
}
.active {
    opacity: 1;
}


/* Slider */
.slider {
    margin-top: 50px;
    position: relative;
}
.slider .slick-arrow {
   position: absolute;
  
   z-index: 10;   
}
.slider .slick-arrow.slick-prev{
    position: absolute;
    bottom: 0;
    right: 10%;
    border: 2px solid #F43939;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    background: url('./img/slider/prev.png')center no-repeat;
}
.slider .slick-arrow.slick-next{
    position: absolute;
    bottom: 0;
    right: 5%;
    border: 2px solid #F43939;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    background: url('img/slider/next.png')center no-repeat;
}

.slider .slick-arrow.slick-next:active{
    background: url('img/slider/next-w.png')center no-repeat;
    background-color: #F43939;
}
.slider .slick-arrow.slick-prev:active{
    background: url('img/slider/prev-w.png') center no-repeat;
    background-color: #F43939;
}

.slick-track {
    display: flex;
    align-items: center;
}
.slick-list {
    overflow:hidden ;
}
.slider__item {
    margin-right: 30px;
    padding: 20px 40px;
    width: 400px;
    height: 224px;
    
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 20px;
    box-shadow:1px 10px 20px rgba(0,0,0, .1);
 
}
.star {
    display: flex;
    align-items: center;
}
.star img {
    margin-left: 10px;
}
.slider__item:last-child {
    margin-right: 0px;
}
.grade {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__logo {

    display: flex;
    align-items: center;
}
.icon {
    margin-right: 20px;
}
.name-user {

    font-weight: 500;
    font-size: 18px;
    color: #0B132A;


}
.item-text {
    padding-top: 30px;
    width: 340px;
    font-size: 16px;
    line-height: 1.5em;
    color: #0B132A;
}
.slick-dots {
    display: flex;
    align-items: center;
    
}
.slick-dots li{
    list-style-type: none;
    margin-right: 10px;
    margin-top: 50px;
}
.slick-dots button{
    border: 1px solid #cdcdcd;
    width: 15px;
    height: 15px;
    border-radius:50%;
    font-size: 0;
    cursor: pointer;


}
.slick-active button{
    border: 1px solid #F43939;
    background-color: #F43939;

    width: 40px;
    border-radius: 20px;
    
}
.slick-center {
    border: 2px solid #F43939;
    transition: .2s all ease;
}
.right {
    width: 170px;
    height: 200px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    right: 0;
    bottom: 13%;
    opacity: .7;
    box-shadow: 0px 5px 100px 100px rgba(255, 255, 255, 0.16) inset;
}
.left {
    width: 170px;
    height: 200px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: 13%;
    opacity: .7;
    box-shadow: 0px 5px 100px 100px rgba(255, 255, 255, 0.16) inset;
}
